better.dk-main/src/main/webapp/resources_dev/www/index.html
<html>

<head></head>
<link rel="stylesheet" type="text/css" href="/includes/OwlCarousel2-2.2.1/dist/assets/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="/css/bundle.css" />
<script type="text/javascript" src="/includes/jquery-3.2.1.js"></script>
<script type="text/javascript" src="/includes/OwlCarousel2-2.2.1/dist/owl.carousel.js"></script>

<body>
    <div id="page">
        <section id="header">
            <header id="topBar">
                <div class="container">
                    <div id="topPanel">
                        <div class="logoSection"><object id="headerLogo" data="/pic/svg/header-logo.svg" type="image/svg+xml"></object></div>
                        <div class="navSection"><a href="#" class="btn btn-alt btn-md">Login</a><a href="#" class="btn btn-md">Vor virksomheder</a></div>
                    </div>
                </div>
            </header>
            <div id="pageTitleSection">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id="pageTitleContent">
                                <div class="someReviews">
                                    <div style="top: 50px;right: 100%;margin-right:-70px;" class="someReview">
                                        <div class="reviewLogo"><img src="/pic/company-logos-ico/krak.png" /></div>
                                        <div class="reviewRating"><object data="/pic/stars/krak-star-solid.svg" type="image/svg+xml"></object></div>
                                        <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia.</div>
                                    </div>
                                    <div style="top: 90px;left: 100%;margin-left: -150px;" class="someReview someReview-sm">
                                        <div class="reviewLogo"><img src="/pic/company-logos-ico/facebook.png" /></div>
                                        <div class="reviewRating"><object data="/pic/stars/facebook-star-solid.svg" type="image/svg+xml"></object></div>
                                        <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                    </div>
                                    <div style="top: 100%;left: 100%;margin-top: 60px;margin-left:65px;" class="someReview">
                                        <div class="reviewLogo"><img src="/pic/company-logos-ico/tripAdvisor.png" /></div>
                                        <div class="reviewRating"><object data="/pic/stars/tripadvisor-star-solid.svg" type="image/svg+xml"></object></div>
                                        <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia.</div>
                                    </div>
                                </div>
                                <h1 id="pageTitle">
                                    Danmarks førende lokale søgemaskine</h1>
                                <h2 id="pageSubtitle">Søg, find og bedøm alle 750.000+ danske virksomheder</h2>
                                <form id="searchForm" action="/search">
                                    <fieldset><label for="searchForm__name">Søg</label><input id="searchForm__name" type="text" name="person" placeholder="fx efter tømrer, tandlæger, advokat" size="45" /></fieldset>
                                    <fieldset><label for="searchForm__address">Nær</label><input id="searchForm__address" type="text" name="address" placeholder="by, adresse, post nr." size="45" /></fieldset>
                                    <fieldset class="submit"><span id="searchSubmitWrapper"><input id="searchSubmit" type="submit" value=""/></span></fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviewsSlider">
            <div class="container-fluid">
                <div class="reviewsSliderHolder">
                    <div class="reviewsSlider__state">
                        <div class="reviewsSlider__stateImages"><img src="/pic/reviewsSlider__state_yelp.png" alt="" /><img src="/pic/reviewsSlider__state_krak.png" alt="" /><img src="/pic/reviewsSlider__state_facebook.png" alt="" /><img src="/pic/reviewsSlider__state_tripadvisor.png" alt=""
                            /><img src="/pic/reviewsSlider__state_trustpilot.png" alt="" /></div><img src="/pic/reviewsSlider__state_facebook.png" alt="" class="reviewsSlider__stateImg" /></div>
                    <div class="reviewsSlider__reviewsHolder">
                        <div class="reviewsSlider__reviewsOffset">
                            <div class="reviews owl-carousel">
                                <div class="reviewCol">
                                    <div data-social-type="yelp" class="review yelpReview">
                                        <div>
                                            <div class="reviewHeader">
                                                <div class="sourceLogo"><img src="/pic/company-logos-ico/yelp.png" /></div>
                                                <div class="reviewRating"><object data="/pic/stars/yelp-star-solid.svg" type="image/svg+xml"></object></div>
                                            </div>
                                            <div class="reviewContent">
                                                <h3 class="reviewTitle">
                                                    Good!</h3>
                                                <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat
                                                    porta, est massa.</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="reviewDetails">
                                                <h3 class="reviewAuthor">Lars Andersen</h3>
                                                <div class="reviewCompany">bedomte <a href="#">Mormors Burger</a></div>
                                                <div class="reviewDate">screvlet for 20 dage siden</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviewCol">
                                    <div data-social-type="krak" class="review krakReview">
                                        <div>
                                            <div class="reviewHeader">
                                                <div class="sourceLogo"><img src="/pic/company-logos-ico/krak.png" /></div>
                                                <div class="reviewRating"><object data="/pic/stars/krak-star-solid.svg" type="image/svg+xml"></object></div>
                                            </div>
                                            <div class="reviewContent">
                                                <h3 class="reviewTitle">
                                                    Good!</h3>
                                                <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="reviewDetails">
                                                <h3 class="reviewAuthor">Lars Andersen</h3>
                                                <div class="reviewCompany">bedomte <a href="#">Mormors Burger</a></div>
                                                <div class="reviewDate">screvlet for 20 dage siden</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviewCol">
                                    <div data-social-type="facebook" class="review facebookReview">
                                        <div>
                                            <div class="reviewHeader">
                                                <div class="sourceLogo"><img src="/pic/company-logos-ico/facebook.png" /></div>
                                                <div class="reviewRating"><object data="/pic/stars/facebook-star-solid.svg" type="image/svg+xml"></object></div>
                                            </div>
                                            <div class="reviewContent">
                                                <h3 class="reviewTitle">
                                                    Good!</h3>
                                                <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="reviewDetails">
                                                <h3 class="reviewAuthor">Lars Andersen</h3>
                                                <div class="reviewCompany">bedomte <a href="#">Mormors Burger</a></div>
                                                <div class="reviewDate">screvlet for 20 dage siden</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviewCol">
                                    <div data-social-type="tripadvisor" class="review tripadvisorReview">
                                        <div>
                                            <div class="reviewHeader">
                                                <div class="sourceLogo"><img src="/pic/company-logos-ico/tripAdvisor.png" /></div>
                                                <div class="reviewRating"><object data="/pic/stars/tripadvisor-star-solid.svg" type="image/svg+xml"></object></div>
                                            </div>
                                            <div class="reviewContent">
                                                <h3 class="reviewTitle">
                                                    Good!</h3>
                                                <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="reviewDetails">
                                                <h3 class="reviewAuthor">Lars Andersen</h3>
                                                <div class="reviewCompany">bedomte <a href="#">Mormors Burger</a></div>
                                                <div class="reviewDate">screvlet for 20 dage siden</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="reviewCol">
                                    <div data-social-type="trustpilot" class="review trustpilotReview">
                                        <div>
                                            <div class="reviewHeader">
                                                <div class="sourceLogo"><img src="/pic/company-logos-ico/trustpilot.png" /></div>
                                                <div class="reviewRating"><object data="/pic/stars/trustpilot-star-solid.svg" type="image/svg+xml"></object></div>
                                            </div>
                                            <div class="reviewContent">
                                                <h3 class="reviewTitle">
                                                    Good!</h3>
                                                <div class="reviewText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.</div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="reviewDetails">
                                                <h3 class="reviewAuthor">Lars Andersen</h3>
                                                <div class="reviewCompany">bedomte <a href="#">Mormors Burger</a></div>
                                                <div class="reviewDate">screvlet for 20 dage siden</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="pageContent">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="a-center">Mest søgte kategorier</h3><br /></div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <ul class="categories">
                            <li><img src="/pic/category_icons/Layer 1.png" class="categoryIcon" /><a href="#">Maler</a></li>
                            <li><img src="/pic/category_icons/Layer 2.png" class="categoryIcon" /><a href="#">Bilforhandler</a></li>
                            <li><img src="/pic/category_icons/Layer 3.png" class="categoryIcon" /><a href="#">Murer</a></li>
                            <li><img src="/pic/category_icons/Layer 4.png" class="categoryIcon" /><a href="#">Tømrer</a></li>
                            <li><img src="/pic/category_icons/Layer 5.png" class="categoryIcon" /><a href="#">VVS</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <ul class="categories">
                            <li><img src="/pic/category_icons/Layer 6.png" class="categoryIcon" /><a href="#">Elektriker</a></li>
                            <li><img src="/pic/category_icons/Layer 7.png" class="categoryIcon" /><a href="#">Køreskole</a></li>
                            <li><img src="/pic/category_icons/Layer 8.png" class="categoryIcon" /><a href="#">Restauranter</a></li>
                            <li><img src="/pic/category_icons/Layer 9.png" class="categoryIcon" /><a href="#">Pizzeriaer</a></li>
                            <li><img src="/pic/category_icons/Layer 10.png" class="categoryIcon" /><a href="#">Advokater</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <ul class="categories">
                            <li><img src="/pic/category_icons/Layer 11.png" class="categoryIcon" /><a href="#">Autoværksteder</a></li>
                            <li><img src="/pic/category_icons/Layer 12.png" class="categoryIcon" /><a href="#">Bedemand</a></li>
                            <li><img src="/pic/category_icons/Layer 13.png" class="categoryIcon" /><a href="#">Ejendomsmæglere</a></li>
                            <li><img src="/pic/category_icons/Layer 14.png" class="categoryIcon" /><a href="#">Flyttefirma</a></li>
                            <li><img src="/pic/category_icons/Layer 15.png" class="categoryIcon" /><a href="#">Frisører</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <ul class="categories">
                            <li><img src="/pic/category_icons/Layer 16.png" class="categoryIcon" /><a href="#">Gartnere</a></li>
                            <li><img src="/pic/category_icons/Layer 17.png" class="categoryIcon" /><a href="#">Fysioterapeut</a></li>
                            <li><img src="/pic/category_icons/Layer 18.png" class="categoryIcon" /><a href="#">Rengøring</a></li>
                            <li><img src="/pic/category_icons/Layer 19.png" class="categoryIcon" /><a href="#">Tandlæge</a></li>
                            <li><img src="/pic/category_icons/Layer 20.png" class="categoryIcon" /><a href="#">Vinduespolering</a></li>
                        </ul>
                    </div>
                </div><br />
                <br />
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="a-center">Hvad er better?</h2>
                        <p class="a-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis accumsan mauris, sed suscipit orci. Etiam in magna vel justo finibus gravida et nec lacus. Maecenas malesuada pellentesque fringilla. Cras pulvinar ut purus non
                            sodales. Suspendisse gravida sit amet massa eu pellentesque. Nulla sagittis magna non eros elementum, nec euismod velit tempus. Donec at rutrum magna, sed fringilla velit. Praesent non egestas ante, at pharetra neque. In dictum
                            tincidunt massa porta laoreet. Donec vel laoreet turpis. Duis laoreet lacus id enim auctor auctor. Phasellus lobortis ante ut vulputate pellentesque. Sed auctor nisl dolor. Nunc facilisis mauris vitae porta volutpat.</p>
                    </div>
                </div><br />
                <br /></div>
        </div>
        <div id="pageFooter">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-4">
                        <div class="widget">
                            <h4 class="widgetTitle"><span id="footerLogo"><img src="/pic/footer-logo.png"/><span>Better</span></span>
                            </h4>
                            <div class="widgetContent">
                                <p>Vi scanner nettet for bedømmelser<br />
                                    <org> samler dem et sted sted, sa det er<br /></org>
                                    <nemt>at finde den bedste virksomhed for dig.</nemt>
                                </p>
                                <div class="social-links">
                                    <a href="#" class="social fa fa-facebook"></a>
                                    <a href="#" class="social fa fa-twitter"></a>
                                    <a href="#" class="social fa fa-linkedin"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widgetTitle">Om Better</h4>
                            <div class="widgetContent">
                                <ul>
                                    <li><a href="#">Hvad er Better</a></li>
                                    <li><a href="#">Support</a></li>
                                    <li><a href="#">Presse</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-3">
                        <div class="widget">
                            <h4 class="widgetTitle">For Virksomheder</h4>
                            <div class="widgetContent">
                                <ul>
                                    <li><a href="#">Hvad er Better Business?</a></li>
                                    <li><a href="#">Tilføj virksomhed</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Partnerskab</a></li>
                                    <li><a href="#">API</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-2">
                        <div class="widget">
                            <h4 class="widgetTitle">Vigtige links</h4>
                            <div class="widgetContent">
                                <ul>
                                    <li><a href="#">Login</a></li>
                                    <li><a href="#">Opret bruger</a></li>
                                    <li><a href="#">Kontakt os</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/bundle.js"></script>
</body>

</html>

better.dk-main/src/main/webapp/resources_dev/src/index.jade
html
	head
	link(rel="stylesheet",type="text/css",href="/includes/OwlCarousel2-2.2.1/dist/assets/owl.carousel.css")
	link(rel="stylesheet",type="text/css",href="/css/bundle.css")
	script(type="text/javascript",src="/includes/jquery-3.2.1.js")
	script(type="text/javascript",src="/includes/OwlCarousel2-2.2.1/dist/owl.carousel.js")
	body
		div#page
			section#header
				header#topBar
					div.container
						div#topPanel
							div.logoSection
								object#headerLogo(data="/pic/svg/header-logo.svg",type="image/svg+xml")
							div.navSection
								a.btn.btn-alt.btn-md(href="#")
									| Login
								a.btn.btn-md(href="#")
									| Vor virksomheder
				div#pageTitleSection
					div.container
						div.row
							div.col-xs-12
								div#pageTitleContent
									div.someReviews
										div.someReview(style="top: 50px;right: 100%;margin-right:-70px;")
											div.reviewLogo
												img(src="/pic/company-logos-ico/krak.png")
											div.reviewRating
												object(data="/pic/stars/krak-star-solid.svg",type="image/svg+xml")
											div.reviewText
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia.
										div.someReview.someReview-sm(style="top: 90px;left: 100%;margin-left: -150px;")
											div.reviewLogo
												img(src="/pic/company-logos-ico/facebook.png")
											div.reviewRating
												object(data="/pic/stars/facebook-star-solid.svg",type="image/svg+xml")
											div.reviewText
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										div.someReview(style="top: 100%;left: 100%;margin-top: 60px;margin-left:65px;")
											div.reviewLogo
												img(src="/pic/company-logos-ico/tripAdvisor.png")
											div.reviewRating
												object(data="/pic/stars/tripadvisor-star-solid.svg",type="image/svg+xml")
											div.reviewText
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lacinia.
									h1#pageTitle 
										| Danmarks førende lokale søgemaskine
									h2#pageSubtitle
										| Søg, find og bedøm alle 750.000+ danske virksomheder
									form#searchForm(action="/search")
										fieldset
											label(for="searchForm__name")
												| Søg
											input(id="searchForm__name",type="text",name="person",placeholder="fx efter tømrer, tandlæger, advokat",size="45")
										fieldset
											label(for="searchForm__address")
												| Nær
											input(id="searchForm__address",type="text",name="address",placeholder="by, adresse, post nr.",size="45")
										fieldset.submit
											span#searchSubmitWrapper
												input#searchSubmit(type="submit",value="")
			section.reviewsSlider
				div.container-fluid
					div.reviewsSliderHolder
						div.reviewsSlider__state
							div.reviewsSlider__stateImages
								img(src="/pic/reviewsSlider__state_yelp.png",alt="")
								img(src="/pic/reviewsSlider__state_krak.png",alt="")
								img(src="/pic/reviewsSlider__state_facebook.png",alt="")
								img(src="/pic/reviewsSlider__state_tripadvisor.png",alt="")
								img(src="/pic/reviewsSlider__state_trustpilot.png",alt="")
							img.reviewsSlider__stateImg(src="/pic/reviewsSlider__state_facebook.png",alt="")
						div.reviewsSlider__reviewsHolder
							div.reviewsSlider__reviewsOffset
								div.reviews.owl-carousel
									div.reviewCol
										div.review.yelpReview(data-social-type="yelp")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/yelp.png")
													div.reviewRating
														object(data="/pic/stars/yelp-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
									div.reviewCol
										div.review.krakReview(data-social-type="krak")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/krak.png")
													div.reviewRating
														object(data="/pic/stars/krak-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
									div.reviewCol
										div.review.facebookReview(data-social-type="facebook")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/facebook.png")
													div.reviewRating
														object(data="/pic/stars/facebook-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
									div.reviewCol
										div.review.tripadvisorReview(data-social-type="tripadvisor")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/tripAdvisor.png")
													div.reviewRating
														object(data="/pic/stars/tripadvisor-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
									div.reviewCol
										div.review.trustpilotReview(data-social-type="trustpilot")
											div
												div.reviewHeader
													div.sourceLogo
														img(src="/pic/company-logos-ico/trustpilot.png")
													div.reviewRating
														object(data="/pic/stars/trustpilot-star-solid.svg",type="image/svg+xml")
												div.reviewContent
													h3.reviewTitle 
														| Good!
													div.reviewText
														| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin maximus, lorem vitae volutpat porta, est massa.
											div
												div.reviewDetails
													h3.reviewAuthor
														| Lars Andersen
													div.reviewCompany
														| bedomte <a href="#">Mormors Burger</a>
													div.reviewDate
														| screvlet for 20 dage siden
			div#pageContent
				div.container
					div.row
						div.col-xs-12
							h3.a-center
								| Mest søgte kategorier
							<br />
						div.col-xs-12.col-sm-6.col-lg-3
							ul.categories
								li
									img.categoryIcon(src="/pic/category_icons/Layer 1.png")
									a(href="#")
										| Maler
								li
									img.categoryIcon(src="/pic/category_icons/Layer 2.png")
									a(href="#")
										| Bilforhandler
								li
									img.categoryIcon(src="/pic/category_icons/Layer 3.png")
									a(href="#")
										| Murer
								li
									img.categoryIcon(src="/pic/category_icons/Layer 4.png")
									a(href="#")
										| Tømrer
								li
									img.categoryIcon(src="/pic/category_icons/Layer 5.png")
									a(href="#")
										| VVS
						div.col-xs-12.col-sm-6.col-lg-3
							ul.categories
								li
									img.categoryIcon(src="/pic/category_icons/Layer 6.png")
									a(href="#")
										| Elektriker
								li
									img.categoryIcon(src="/pic/category_icons/Layer 7.png")
									a(href="#")
										| Køreskole
								li
									img.categoryIcon(src="/pic/category_icons/Layer 8.png")
									a(href="#")
										| Restauranter
								li
									img.categoryIcon(src="/pic/category_icons/Layer 9.png")
									a(href="#")
										| Pizzeriaer
								li
									img.categoryIcon(src="/pic/category_icons/Layer 10.png")
									a(href="#")
										| Advokater
						div.col-xs-12.col-sm-6.col-lg-3
							ul.categories
								li
									img.categoryIcon(src="/pic/category_icons/Layer 11.png")
									a(href="#")
										| Autoværksteder
								li
									img.categoryIcon(src="/pic/category_icons/Layer 12.png")
									a(href="#")
										| Bedemand
								li
									img.categoryIcon(src="/pic/category_icons/Layer 13.png")
									a(href="#")
										| Ejendomsmæglere
								li
									img.categoryIcon(src="/pic/category_icons/Layer 14.png")
									a(href="#")
										| Flyttefirma
								li
									img.categoryIcon(src="/pic/category_icons/Layer 15.png")
									a(href="#")
										| Frisører
						div.col-xs-12.col-sm-6.col-lg-3
							ul.categories
								li
									img.categoryIcon(src="/pic/category_icons/Layer 16.png")
									a(href="#")
										| Gartnere
								li
									img.categoryIcon(src="/pic/category_icons/Layer 17.png")
									a(href="#")
										| Fysioterapeut
								li
									img.categoryIcon(src="/pic/category_icons/Layer 18.png")
									a(href="#")
										| Rengøring
								li
									img.categoryIcon(src="/pic/category_icons/Layer 19.png")
									a(href="#")
										| Tandlæge
								li
									img.categoryIcon(src="/pic/category_icons/Layer 20.png")
									a(href="#")
										| Vinduespolering
					<br />
					<br />
					<br />
					<br />
					<br />
					div.row
						div.col-xs-12
							h2.a-center
								| Hvad er better?
							p.a-center
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis accumsan mauris, sed suscipit orci. Etiam in magna vel justo finibus gravida et nec lacus. Maecenas malesuada pellentesque fringilla. Cras pulvinar ut purus non sodales. Suspendisse gravida sit amet massa eu pellentesque. Nulla sagittis magna non eros elementum, nec euismod velit tempus. Donec at rutrum magna, sed fringilla velit. Praesent non egestas ante, at pharetra neque. In dictum tincidunt massa porta laoreet. Donec vel laoreet turpis. Duis laoreet lacus id enim auctor auctor. Phasellus lobortis ante ut vulputate pellentesque. Sed auctor nisl dolor. Nunc facilisis mauris vitae porta volutpat.
					<br />
					<br />
			div#pageFooter
				div.container
					div.row
						div.col-xs-12.col-sm-6.col-lg-4
							div.widget
								h4.widgetTitle
									span#footerLogo
										img(src="/pic/footer-logo.png")
										span
											| Better
								div.widgetContent
									p
										| Vi scanner nettet for bedømmelser<br />
										org	samler dem et sted sted, sa det er<br />
										nemt at	finde den bedste virksomhed for dig.
									div.social-links
										a.social.fa.fa-facebook(href="#")
										a.social.fa.fa-twitter(href="#")
										a.social.fa.fa-linkedin(href="#")
						div.col-xs-12.col-sm-6.col-lg-3
							div.widget
								h4.widgetTitle
									| Om Better
								div.widgetContent
									ul
										li
											a(href="#")
												| Hvad er Better
										li
											a(href="#")
												| Support
										li
											a(href="#")
												| Presse
						div.col-xs-12.col-sm-6.col-lg-3
							div.widget
								h4.widgetTitle
									| For Virksomheder
								div.widgetContent
									ul
										li
											a(href="#")
												| Hvad er Better Business?
										li
											a(href="#")
												| Tilføj virksomhed
										li
											a(href="#")
												| Blog
										li
											a(href="#")
												| Partnerskab
										li
											a(href="#")
												| API
						div.col-xs-12.col-sm-6.col-lg-2
							div.widget
								h4.widgetTitle
									| Vigtige links
								div.widgetContent
									ul
										li
											a(href="#")
												| Login
										li
											a(href="#")
												| Opret bruger
										li
											a(href="#")
												| Kontakt os



		script(type="text/javascript",src="/js/bundle.js")
